@import './dark.scss';


:root {
  --text-color:#303133;
  --bg-color:#fff;
  --border-color:#dcdfe6;
  --tip-color:#b00ac8ed;
  --purple-color: #9065db;
  --header-height:55px;
}

:root {
  --home-hero-name-color: transparent;
  --home-hero-name-background: -webkit-linear-gradient( 120deg, #bd34fe 30%, #41d1ff )
}


  ::view-transition-new(root),
  ::view-transition-old(root){
    animation: none;
  } 
  .dark::view-transition-old(root){
    z-index: 9999;
  }