@use './dark.scss';


:root {
  --text-color:#303133;
  --bg-color:#fff;
  --border-color:#dcdfe6;
  --tip-color:#b00ac8ed;
  --purple-color: #9065db;
  --header-height:0.55rem;
 


 .md-editor-preview blockquote{
    --md-theme-quote-border:5px solid var(--tip-color) ;
  }
  .md-editor-catalog-active > span{
    color: var(--tip-color);
  }
  .md-editor-catalog-link span:hover{
    color: var(--tip-color);
  }
}

:root {
  --home-hero-name-color: transparent;
  --home-hero-name-background: -webkit-linear-gradient( 120deg, #bd34fe 30%, #41d1ff )
}


  ::view-transition-new(root),
  ::view-transition-old(root){
    animation: none;
  } 

  .dark::view-transition-old(root){
    z-index: 999999999999;
  }

  .min-container {
    padding: 0.4rem 0.2rem 0.3rem;
    position: relative;
  }

  .md-editor-catalog{
    font-size: 0.18rem;
    

    .md-editor-catalog-active>span{
      font-size: 0.24rem;
    }
  }